---
---
@charset "utf-8";

// Reduce text size in header section
header.masthead {
  .intro-text {
    .intro-lead-in {
      font-size: 18px;
      margin-bottom: 15px;
    }
    .intro-heading {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 25px;
    }
  }
}

// Medium devices and up
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      .intro-lead-in {
        font-size: 20px;
        margin-bottom: 20px;
      }
      .intro-heading {
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 30px;
      }
    }
  }
}
